
body {
  margin: 0;
  /*font-family: "JetBrains Mono", sans-serif;*/
  font-weight: revert;
  font-size: 30px;
}

nav {
  background-color: #3C3C3B;
  overflow: hidden;
  text-align: center;
}

nav a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



